.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

.DS_Store
*.iml

# Local secrets and environment files
.env
.env.json
